/testing/build
/src/build
/dataset
testing/leftVideo.avi
testing/leftVideo.gif
testing/leftVideoCropped.gif
testing/rightVideo.avi
testing/rightVideo.gif
testing/rightVideoCropped.gif
testing/trajectory1_plot.png
testing/trajectory1.png
testing/trajectory2_plot.png
testing/trajectory2.png
testing/trajectory3_plot.png
testing/trajectory3.png
testing/trajectory4_plot.png
testing/trajectory4.png
testing/trajectoryVideo.avi
testing/trajectoryVideo.gif
testing/trajectoryVideoCropped.gif
